
:root {
  --background: #001524;/* ink black */
  --foreground: #FF8C7A;/* salmon */
  --primary: #791325; /* burgundy */
  --primary-darker: #5f0f1e;/* night bordeaux */
  --secondary: #FF6F59;/* vibrant coral */
  --link: #43AA8B;/* seagrass */
}